<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cvv.fanstaticapps.travelperfect">
	
	<!-- android:roundIcon="@mipmap/ic_launcher_round" -->
	<application
		android:name="com.cvv.fanstaticapps.travelperfect.TravelPerfectApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name="com.cvv.fanstaticapps.travelperfect.view.activities.MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		
		<activity
			android:name="com.cvv.fanstaticapps.travelperfect.view.activities.MainEditActivity"
			android:label="@string/title_activity_edit_activity"
			android:parentActivityName="com.cvv.fanstaticapps.travelperfect.view.activities.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.cvv.fanstaticapps.travelperfect.view.activities.MainActivity"/>
		</activity>
		
		<activity
			android:name="com.cvv.fanstaticapps.travelperfect.view.activities.TripEditActivity"
			android:label="@string/title_activity_edit_activity"
			android:parentActivityName="com.cvv.fanstaticapps.travelperfect.view.activities.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.cvv.fanstaticapps.travelperfect.view.activities.MainActivity"/>
		</activity>
		
		<provider
			android:name="com.cvv.fanstaticapps.travelperfect.model.TripProvider"
			android:authorities="${applicationId}"
			android:exported="false"
			android:protectionLevel="signature"
			android:syncable="true"/>
		
		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="@string/places_api_key"/>
	</application>

</manifest>